* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  

}

html {
    font-size: 16px;
    font-family: 'Lucida Sans', cursive;
    background-image: url(../img/background.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}

h2 {
    font-size: 50px;;
    /* line-height: 3rem; */
    text-align: center;
    color: orange;
    font-weight: bold;
    margin-bottom:20px;
}

/* container style */
#container {
    margin: 10px;
    text-align: center;
}

/* 'table' style */

span,
input {
    font-size: 20px;
    padding: 2px;
}

.title,
.average,
input[type="number"] {
    display: inline-block;
    width: 110px;
}

.student {
    display: inline-block;
    width: 210px;
}

.average {
    text-align: right;
}

.title {
    font-weight: bold;
    border: 1px solid orange;
    padding: 5px 0px;
    color:green;
    text-align: center;
}

.student {
    margin: 1px 0px;
}

/* button style */

button {
    margin-top: 25px;
    background-color: green;
    border: 2px solid green;
    border-radius: 5px;
    font-size: 20px;
    color: orange;
    padding: 5px 20px;
    cursor: pointer;
    text-align: center;
   
 
}

button:hover {
    background-color : orange;
    color: green;
}

/* background style */

.red {
    background-color: red ;
    color: white;
}

.green {
    background-color: seagreen;
    color: white;
}